body {
 background-image: url("background-photo-1.jpg");
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover; /* Resize the background image to cover the entire container */
     font-family: sans-serif, Arial, Helvetica ;
}

div.form {

    margin-top:5%;
    margin-left:auto;
    margin-right:auto;

      padding: 10px;
      width: 400px;
      height: 500px;
      background: rgba(255, 255, 255, 0.7);
      opacity: 50;
      border-radius: 10px;
      border:5px Grey;
      border-style: outset;
}

#loginbutton {
  width: 100px;
  font-size:28px;
  border-style: ridge;

  margin: 10px;
    }

#username {
  height: 30px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  margin: 5px;
    }

#password {
  height: 30px;
    width: 200px;
  text-align: center;
  font-size:18px;
    }

#fields {
    text-align: center;


}

#logintext {
    text-align: center;
}

#login-form {
    text-align: center;
  height: 400px;
  width: 200px;
    display: block;
  width:100%;
    color: black;
    font-weight: 900
    }

p.mask {

  color: black;
  font-size: 50px

}