body {
    background-image: url("background-photo-1.jpg");
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
        font-family: sans-serif, Arial, Helvetica ;
        justify-content: center;
        background-attachment: fixed;
}

h1 {
    text-align: left;
    margin: 30px;
}



div.form {

    margin-top:3%;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    width: 1000px;
    background: rgba(255, 255, 255, 0.7);
    opacity: 50;
    border-radius: 20px;
    border:5px Maroon;
    border-style: outset;
    align-items: left;
    text-align: center;
}
#myList{
    margin-top: 50px;
    height: 80%;
    overflow-y: scroll;
    background: white;
    opacity: 60%;
}

#courseList{
    margin-top: 25px;
    height: 80%;
    overflow-y: scroll;
    background: white;
    opacity: 60%;
}


.searchable {
    background: white;
    opacity: 80%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

.col {
    border-radius: 20px;
    border:5px Grey;
    border-style: ridge;
    margin: 10px;
    padding: 20px;
    height: 20rem;
    width: 25rem;
    justify-content: left;
    text-align: left;
}

li {
    list-style: none;
    display: flex;
    justify-content:space-between;
    margin-top: 5px;
    /* text-align: justify; */
}

.labels {
    /* text-align: left; */
    font-size: 20px;
}

.buttondiv {
    justify-content: center;
}

#logout {
    width: 150px;
    font-size:28px;
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    /* box-sizing: border-box; */  
 }

 .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

.active, .accordion:hover {
    background-color: #ccc;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  } */

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

.prereq {
    font-size: smaller;
}

